body{
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

header{
    background-color: #673c18;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1{
    margin: 0;
}

h2{
    text-align: center;
}

table{
    margin: 0 auto;
}
th{
    background-color: #673c18;
    color: #fff;
}
table, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.background-img{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;

}

.background-img::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);



}

a{
    text-decoration: none;
    pointer-events: all ;
    color: #000000;
}